/********RESET**********/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select,
dialog,
form,
label {
    font: inherit;
    color: inherit;
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

ul,
li {
    list-style-type: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
}

button,
label[for],
::-webkit-search-cancel-button,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    cursor: pointer;
}

/******************/

.container {
    width: 80%;
    background-color: red;
    margin: 0 auto;
}

.row {
    display: flex;
}

body {
    height: 100svh;
    display: grid;
    place-items: center;
}

.main {
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
    min-width: 80%;
}

.menu-main {
    align-items: center;
}

/* Ship list */

.ship-list {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    border: 1px solid black;
    width: 80%;
    max-width: 900px;
    min-height: 6.5rem;
}

.ship-list__item {
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    align-items: center;
}

.img-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.ship__img[draggable=true]:hover {
    cursor: grab;
}

.ship__img[draggable=true]:active {
    cursor: grabbing;
}

[data-ship=battleship] {
    aspect-ratio: 299 / 95;
}

[data-ship=carrier] {
    aspect-ratio: 302 / 98;
}

[data-ship=cruiser] {
    aspect-ratio: 153 / 69;
}

[data-ship=destroyer] {
    aspect-ratio: 112 / 60;
}

[data-ship=submarine] {
    aspect-ratio: 302 / 98;
    transform: translateY(15.5%); /* the svg is a little wonky */
}

.ship-list::-webkit-scrollbar {
    height: 5px;
}
.ship-list::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.8);
}

.ship-list::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
}

.ship-list::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

/* Board */

.game-board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: green;
    aspect-ratio: 1;
}

.menu-main .game-board {
    width: min(80%, 460px);
}

.cell {
    border: 1px solid black;
}

.cell.ship__hover {
    background-color: lightgreen;
}

.cell.invalid {
    background-color: red;
}

.board__ship-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 10%;
    &.vertical {
        transform-origin: top left;
        transform: rotate(90deg) translateY(-100%);
    }
}

.board__ship {
    width: 90%;
    height: 95%;
}

/* Button list */

.button-list {
    margin: 1em 0;
    display: flex;
    gap: 2em;
    justify-content: center;
    width: 80%;
}

.menu-button {
    flex: 1;
    max-width: 120px;
    text-align: center;
    padding: 0.1em 0;
    background-color: white;
    border-radius: 10px;
}

.menu-button.active {
    background-color: rgba(0,0,0,0.3);
}

/*  */

.game-main {
    background-color: red;
    justify-content: center;
}

.board-container {
    display: flex;
    justify-content: space-between;
}

.game-main .game-board {
    background-color: yellow;
    min-width: 40%;
}

/*  */

.miss {
    background-color: pink;
}

.hit {
    background-color: coral;
}

.sunk {
    background-color: red;
}

.cell.hover:hover {
    cursor: pointer;
    background-color: olive;
}

.menu-main {
    justify-content: space-around;
    gap: 1em;
}

.player-containers {
    width: 100%;
    justify-content: space-around;
}

.player-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.5em;
    align-items: center;
    background-color: olive;
    position: relative;
    padding: 2em 1em;
    border-radius: 1em;
}

.player-container.dark-overlay .game-board::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
}

.player-container__upper-row {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    width: 100%;
}

.dropdown-container {
    grid-column: 2 / 3;
    margin: 0 auto;
    gap: 1em;
}

.visibility-toggle {
    place-self: end;
    padding-right: 1em;
}